body{
    background: saddlebrown;
    font-family: Nadeem, serif;
}
nav{
    background: lightgreen;
    border-radius: 16px;
    padding: 8px;
}
#aboutParagraph {
    background-color: lightskyblue;
    color: aliceblue;
    padding: 16px;
    border-radius: 16px;
}

#projectsParagraph {
    background-color: red;
    color: azure;
    font-family: Fahkwang, serif;
    font-weight: bold;
    padding: 26px;
}

#contactParagraph {
    background-color: blue;
    color: white;
    padding: 26px;
    font-family: Silom, serif;
}

#contactHeading {
    color: white;
    padding: 26px;
    font-family: "Tamil Sangam MN", serif
}
#navBar {
    text-align: center;
    padding: 0;
}

#navBar li {
    display: inline;
    padding: 0 50px;
}
